<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--  MY  -->
    <link rel="stylesheet" th:href="@{/resources/global.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--   MY SCRIPTS -->
    <script th:src="@{/resources/global.js}"></script>

</head>
<body>
<div th:replace="../views/header :: header"></div>


<div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-heading">  <h4 th:text="#{label.profile}">Your Profile</h4></div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                    </div>
                                    <br>
                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;" th:text="${doctor.firstName+' '+doctor.lastName}"></h4></span>
                                    <span><p th:text="${doctor.position}"></p></span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                <div class="col-sm-5 col-xs-6 tital" th:text="#{label.fname}">First Name:</div><div class="col-sm-7 col-xs-6 " th:text="${doctor.firstName}"></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital" th:text="#{label.lname}">Last Name:</div><div class="col-sm-7" th:text="${doctor.lastName}"></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital" th:text="#{label.username}">Username:</div><div class="col-sm-7" th:text="${doctor.username}"></div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row" th:if="${!isAdmin}">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4 th:text="#{label.yourPatients}">Your Patients</h4></div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <table  class="table">
                                <thead>
                                <th th:text="#{label.fname}">First Name</th>
                                <th th:text="#{label.lname}">Last Name</th>
                                </thead>
                                <tbody id="tablebodyMyP">
                                <tr th:each="p:${myP}">
                                    <td>
                                        <a th:href="@{/patients/patient/}+${p.id}"
                                           th:text="${p.firstName}"></a>
                                    </td>
                                    <td th:text="${p.lastName}"></td>
                                    <td th:text="${p.age}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <ul class="pagination" id='pagination'>
                            </ul>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>